/*@font-face {
  font-family: 'Gidole-Regular';

  src:
    url('fonts/gidole/Gidole-Regular.woff2') format('woff2'),
    url('fonts/gidole/Gidole-Regular.woff') format('woff');

  font-weight: normal;
  font-style: normal;
}
*/

::-webkit-scrollbar {
    width: 12px;
    display: none;
}

@font-face {
  font-family: 'DIN-Regular';
  src:
    url('../fonts/din-ot/DINOT-Regular.otf') format('opentype');
}

@font-face {
  font-family: 'DIN-Medium';
  src:
    url('../fonts/din-ot/DINOT-Medium.otf') format('opentype');
}

@font-face {
  font-family: 'DIN-Bold';
  src:
    url('../fonts/din-ot/DINOT-Bold.otf') format('opentype');
}

body {
  font-family: 'DIN-Regular', sans-serif;
}

nav {
  height: 50px;
  line-height: 50px;
}

h1,h2,h3,h4,h5,h6 {
  font-family: 'DIN-Medium', sans-serif;
}

.header-text {
  font-family: 'DIN-Bold', sans-serif;
  font-size: 1.5em;
}

.header-pad {
  padding-left:20px;
}

.nav-icon {
  line-height: 50px !important;
  color: rgba(255, 255, 255, 0.6);
  cursor: pointer;
  padding-right: 8px;
}

.scenario-input-field {
  margin-top: 40px;
  max-width: 375px;
}

.scenario-inputs {
  margin-left: auto;
  margin-right: auto;
  max-width: 375px;
}

#subheader {
  position: fixed;
  top: 50px;
  left: 0px;
  height: 40px;
  background-color: rgb(112, 182, 188);
  color: white;
  z-index: 10;
  font-family: 'DIN-Medium', sans-serif;
  line-height: 40px;
  font-size: 17px;
}

#controls {
  position: fixed;
  left: 0;
  /*padding-left: 15px;*/
  top: 82px;
  width: 360px;
  overflow-y: auto;
  /*border-right: 1px solid #dedede;*/
}

#inputs {
}

#controls-header {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 360px;
  text-align: center;
  border-right: 1px solid rgba(255,255,255, 0.25);
}

#outputs-header {
  position: absolute;
  left: 360px;
  top: 0px;
  width: 430px;
  text-align: center;
  border-right: 1px solid rgba(255,255,255, 0.25);
  display: inline-block;
}

#more-scenarios {
  position: absolute;
  left: 790px;
  top: 0px;
  width: 160px;
  display: inline-flex;
  background-color: white;
  color: #777;
}

.header-icon {
  line-height: 40px;
}

.header-close-icon {
  position: absolute;
  top: 10px;
  left: 8px;
  font-size: 20px;
  color:  rgba(255,255,255,0.6);
  cursor: pointer;
}

.btn-floating.btn-smaller i {
  line-height: 27px;
}

.btn-floating.btn-smaller {
  width: 27px;
  height: 27px;
  position: relative;
  top: 6px;
  margin-left: 6px;
  margin-right: 6px;
}

#outputs {
  position: fixed;
  left: 360px;
  width: 430px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 100px;
  top: 82px;
  padding-top: 15px;
  overflow-y: auto;
  border-right: 1px solid #ddd;
}

.info-table {
  /*position: absolute;
  left: 0px;
  top: 0px;*/
  /*width: 450px;*/
  /*height: 800px;*/
  /*padding-left: 15px;*/
  /*padding-right: 15px;*/
  font-size: 12px;
}

.info-table td {
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 15px;
}

.info-table-head {
  padding-left: 3px !important;
  font-family: 'DIN-Bold', sans-serif;
}

.info-table-value {
  font-family: 'DIN-Bold', sans-serif;
  /*font-family: 'DIN-Medium', sans-serif;*/
  text-align: right;
}

.info-extra {
  /*position: absolute;
  top: 800px;*/
}

.big-numbers {
  padding-bottom: 20px;
  text-align: center;
}

.big-number-wrapper {
  padding-bottom: 0px;
}

.big-number-label {
  font-size: 18px;
  /*font-family: 'DIN-Medium', sans-serif;*/
}

.info-icon {
  font-size: 15px;
  color: gray;
  cursor: default;
}

.collapsible-header {
  font-family: 'DIN-Medium', sans-serif;
  background: #f8f8f8;
}

.mutedfocus:focus { outline: 1px solid lightgray; }

.active-indicator {
  position: relative;
}

.active-indicator-child {
  position: absolute;
  top: -15px;
  left: -15px;
  height: 52px;
  width: 6px;
  background: #e57373;
}

.active-indicator-child.on {
  background: #84c7c1;
}

.int-color-box {
  width: 12px;
  height: 12px;
  position: absolute;
  left: 335px;
  margin-top: 5px;
}

.int-header {
  text-align: left;
}

.settings-icon {
  line-height: -1;
  padding-right: 8px;
  padding-left: 2px;
  padding-top: 2px;
  color: #999;
}

.switch-wrapper {
  padding-bottom: 0px;
  text-align: right;
}

.select-wrapper {
  padding-bottom: 8px;
}

.input-field {
  margin-bottom: 0px;
}

.slider-field {
  height: 60px;
}

.slider-label {
  display: inline-block;
  margin-left: -2px;
  padding-bottom: 5px;
}

label {
  color: #333333 !important;
}

.noUi-pips-horizontal {
  padding-top: 0px !important;
}

.noUi-marker-horizontal.noUi-marker-large {
  height: 8px !important;
  margin-left: 0px !important;
}

.noUi-marker-horizontal.noUi-marker {
  width: 1px !important;
  margin-left: 0px !important;
}

.noUi-value-horizontal {
  font-size: 11px;
}

.noUi-target {
  background: rgb(144, 144, 144) !important;
}

.noUi-handle {
  /*left: -7px !important;*/
}

.counting-up {
  color: green;
}

.counting-down {
  color: red;
}

.counter {
  transition: all ease-out 0.5s;
}

.big-counter {
  font-family: 'DIN-Bold', sans-serif;
  font-size: 25px;
  line-height: 28px;
}

.big-counter-secondary {
  font-family: 'DIN-Medium', sans-serif;
}

.numbers-down-arrow {
  line-height: 10px;
  color: gray;
}

.vpad1 {
  height: 1px;
}

.vpad {
  height: 15px;
}

.section-header {
  font-family: 'DIN-Bold', sans-serif;
  font-size: 25px;
  /*padding-top: 15px;*/
}

/*------ risk stratification matrix -----------*/

.rs-box {
  width: 400px;
  border: 1px solid black;
}

.rs-header {
  font-family: 'DIN-Medium', sans-serif;
  line-height: 25px;
  text-align: center;
  background: black;
  color: white;
}

.rs-bar-bounding {
  width: 400px;
  height: 45px;
  position: relative;
  overflow: visible;
  white-space: nowrap;
}

.rs-bounding {
  text-align: center;
}

.rs-num {
  font-family: 'DIN-Medium', sans-serif;
}

.rs-bounding-left {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 200px;
  height: 45px;
}

.rs-bounding-right {
  position: absolute;
  left: 200px;
  top: 0px;
  width: 200px;
  height: 45px;
}

.rs-bar-left {
  position: absolute;
  right: 200px;
  top: 0px;
  width: 0px;
  height: 45px;
  transition: all ease 1.5s;
}

.rs-bar-right {
  position: absolute;
  top: 0px;
  left: 200px;
  width: 0px;
  height: 45px;
  transition: all ease 1.5s;
}

.rs-green {
  background: #98DF8A;
}

.rs-red {
  background: #FF9896;
}

/*------ end risk stratification matrix -------*/



/*------ bar chart -----------*/

.bar-wrapper {
  position: relative;
  width: 400px;
  height: 30px;
}

.barchart {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 320px; /* make it larger so it doesn't wrap */
  height: 30px;
}

.bar-counter {
  position: absolute;
  top: 0px;
  left: 300px;
  width: 100px;
  text-align: right;
}

.bar-entry {
  height: 30px;
  float:left;
  transition: all ease 1.5s;
}

.entry-0 {
  background: #eee;
}

.entry-1 {
  background: #AEC7E8;
}

.entry-2 {
  background: #FFBB78;
}

.entry-3 {
  background: #98DF8A;
}

.entry-4 {
  background: #FF9896;
}

.entry-5 {
  background: #C5B0D5;
}

.entry-6 {
  background: #C49C94;
}

.entry-7 {
  background: #F7B6D2;
}

.entry-8 {
  background: #C7C7C7;
}

.entry-9 {
  background: #DBDB8D;
}

.entry-10 {
  background: #9EDAE5;
}


/*------ end bar chart -------*/






/*------ confusion matrix -----------*/

/*#conf-bounding {
  width: 400px;
  height: 400px;
  margin: auto;
  position: relative;
}

.conf-box {
  position: absolute;
  transition: all 1s ease;
}

.conf-box-green {
  background: lightgreen;
}

.conf-box-red {
  background: red;
}

#conf-tp {
  width: 200px;
  height: 200px;
  right: 200px;
  bottom: 200px;
}

#conf-fp {
  width: 40px;
  height: 40px;
  left: 200px;
  bottom: 200px;
}

#conf-fn {
  width: 20px;
  height: 20px;
  right: 200px;
  top: 200px;
}

#conf-tn {
  width: 140px;
  height: 140px;
  left: 200px;
  top: 200px;
}

#conf-tp-bb {
  width: 200px;
  height: 200px;
  right: 200px;
  bottom: 200px;
  border-bottom: 1px solid black;
  border-right: 1px solid black;
}

#conf-fp-bb {
  width: 200px;
  height: 200px;
  left: 200px;
  bottom: 200px;
  border-bottom: 1px solid black;
  border-left: 1px solid black;
}

#conf-fn-bb {
  width: 200px;
  height: 200px;
  right: 200px;
  top: 200px;
  border-top: 1px solid black;
  border-right: 1px solid black;
}

#conf-tn-bb {
  width: 200px;
  height: 200px;
  left: 200px;
  top: 200px;
  border-top: 1px solid black;
  border-left: 1px solid black;
}

.conf-bb {
  position: absolute;
  line-height: 200px;
  text-align: center;
}

.conf-text {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
  font-family: 'DIN-Bold', sans-serif;
  font-size: 20px;
  color: #333;
}

#conf-fp-label {
  position: absolute;
  left: 200px;
  width: 200px;
  height: 20px;
  text-align: center;
}

#conf-tp-label {
  position: absolute;
  bottom: 380px;
  left: 0px;
  width: 200px;
  height: 20px;
  text-align: center;
}

#conf-fn-label {
  position: absolute;
  bottom: 15px;
  left: 0px;
  width: 200px;
  height: 20px;
  text-align: center;
}

#conf-tn-label {
  position: absolute;
  bottom: 15px;
  left: 200px;
  width: 200px;
  height: 20px;
  text-align: center;
}

.conf-label {
  padding-left: 5px;
  padding-right: 5px;
  font-size: 15px;
  line-height: 16px;
  color: #555;
}*/

/*------ end confusion matrix -------*/
